@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  // font-family: "Open Sans", sans-serif;
  font-weight: 300;
  // color: #fff;
  background: #efefef;
}
.fail {
    width: 200px;
    margin: 20px auto;
    color: red;
}
form {
    font-size: 16px;
    color: #999;
    font-weight: bold;
}

#push-title{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    left: 10px;
}
#push-message{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 13px;
    position: relative;
    left: 10px;
}
#push-url{
    color: #AAA;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 0px;
    position: relative;
    left: 10px;
}
#push-icon{
    margin: 0;
    height: 85px;
    width: 85px;
    float: left;
    padding: 0;
}
#push {
    width: 360px;
    margin: 0 auto;
    padding: 0;
    display: block;
    border: 1px solid #ddd;
    background-color: white;
    -webkit-box-shadow: 0px 9px 20px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 20px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 20px -15px rgba(0, 0, 0, 0.75);
}
#x {
    float: right;
    margin-right: 8px;
    margin-top: 5px;
    color: #999;
}
.title {
    margin: 0 auto;
    text-align: center;
    font-family: "Helvetica Neue", "Arial";
    font-size: 24px;
    font-weight: 500;
    width: 90%;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}
#mobile-directions {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 0px 1em;
    text-align: center;
    color: #333;
    font-weight: 200;
    width: 310px;
    margin: 0px auto;
    margin-bottom: 20px;
}
p {
    font-family: "Helvetica Neue", "Arial";
}
#container{
    position:relative;
    margin: 20px 0;
} 


.balloon {
  display: inline-block;
  width: 280px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
}
.balloon::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.balloon + label {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  height: 30px;
  bottom: 8px;
  padding: 5px 15px;
  color: #032429;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
  transition: all .3s ease-in-out;
  border-radius: 3px;
  background: rgba(122, 184, 147, 0);
}
.balloon + label:after {
  position: absolute;
  content: "";
  width: 0;
  height: 10;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);
  transition: all .3s ease-in-out;
}

.balloon:focus,
.balloon:active {
  color: #377D6A;
  text-indent: 0;
  background: #CCC;
}
.balloon:focus::-webkit-input-placeholder,
.balloon:active::-webkit-input-placeholder {
  color: #aaa;
}
.balloon:focus + label,
.balloon:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #7ab893;
  transform: translateY(-40px);
}
.balloon:focus + label:after,
.balloon:active + label:after {
  border-top: 4px solid #7ab893;
}

.input_row {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 30px;
  background: inherit;
  position: relative;
  z-index: 1;
  // text-align: center;
}
.input_row:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -5000px;
  height: 100%;
  width: 15000px;
  z-index: -1;
  background: inherit;
}
.input_row span {
  position: relative;
  display: inline-block;
  margin: 20px 10px;
}